<%- include('header') %>
    <h2><%- vaga.titulo %></h2>
    <div>
        <h3>Requirements:</h3>
        <ul>
            <li><%- vaga.descricao %></li>
        </ul>
    </div>
<%- include('footer') %>
